params {

    // I/O
    bam_files = null      // must be provided by user through terminal or set here in configs
    pod5_dir  = null      // must be provided by user through terminal or seta here in configs
    outdir = "./results"

    // Options:
    // fastplong options
    window_size = 4
    min_length = 50
    window_quality = 30

    // multiqc options
    multiqc_config = "./multiqc_config.yaml"

}
