params {

    // I/O
    bam_files = null      // must be provided by user through terminal or set here in configs
    pod5_dir  = null      // must be provided by user through terminal or seta here in configs
    outdir = "./results"

    // Options:
    // fastplong options
    window_size = 4
    min_length = 50
    window_quality = 30

    // multiqc options
    multiqc_config = "./multiqc_config.yaml"

}


profiles {

    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        conda.enabled          = false
        singularity.enabled    = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
    }


