params {

    // I/O
    bam_files   = null      // BAM input
    pod5_dir    = null      // POD5 input
    fastq_files = null      // FASTQ input
    

    // Basecalling options (for fastplong if needed)
    kit_name       = "SQK-NBD114-96"        // default kit
    basecalling_model = "sup"            // default dorado model
    no_trim        = true                // whether to skip trimming
    

    // Fastplong options
    start_adapter      = "TTTCTGTTGGTGCTGATATTGC"
    end_adapter        = "ACTTGCCTGTCGCTCTATCTTC"
    trim_5             = false
    trim_3             = false
    mean_quality       = 20
    qualified_quality  = 15
    unqualified_percent= 40
    min_length         = 50
    
    // host removal inputs
    host_fasta     = "/home/Dan/Documents/users/Dan/mme_meta/mme_combined/testNextflow/DCEMP/margaritifera_combined.fasta"
    host_index_dir = null   //only if you have your host index already

    outdir = "./results"
}


profiles {

    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
    }

    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
    }

}
